@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
@model List<KALAYUNITSM.ENTITY.WeeklyReports.ReportsData>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyReports</title>
    <style type="text/css">
        .reveal-modal-bg {
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 100;
            display: none;
            top: 0;
            left: 0;
            background: rgba(00, 00, 00, 0.8);
        }

        .reveal-modal {
            visibility: hidden;
            top: 150px;
            left: 50%;
            margin-left: -300px;
            width: 520px;
            position: absolute;
            z-index: 101;
            padding: 30px 40px 34px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
            -box-shadow: 0 0 10px rgba(0,0,0,.4);
            background-color: #FFF;
        }

            .reveal-modal.small {
                width: 200px;
                margin-left: -140px;
            }

            .reveal-modal.medium {
                width: 400px;
                margin-left: -240px;
            }

            .reveal-modal.large {
                width: 600px;
                margin-left: -340px;
            }

            .reveal-modal.xlarge {
                width: 800px;
                margin-left: -440px;
            }

            .reveal-modal .close-reveal-modal {
                font-size: 22px;
                line-height: 0.5;
                position: absolute;
                top: 8px;
                right: 11px;
                color: #333;
                text-shadow: 0 -1px 1px rbga(0,0,0,.6);
                font-weight: bold;
                cursor: pointer;
            }

        body {
            background-color: #F2F2F2;
        }
         input{
               
                white-space: nowrap;
                text-overflow: ellipsis;
            }
    </style>
    <link rel="stylesheet" type="text/css" href="../../Content/WeeklyReports/styles/simditor.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/WeeklyReports/styles/bootstrap.css" />
    <script type="text/javascript" src="../../Content/WeeklyReports/scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../../Content/WeeklyReports/scripts/module.min.js"></script>
    <script type="text/javascript" src="../../Content/WeeklyReports/scripts/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="../../Content/WeeklyReports/jquery.reveal.js"></script>
    <script>
    $(document).ready(function () {

        removeViewHtmlCode();
    });
    function removeViewHtmlCode() {                         //去除所有带View的输入框HTML标签的方法 begin
        var inputs = $("input");                    //下边是初次加载时去除HTML标签的方法 begin
        $(inputs).each(function (j) {
            //   alert("0");
            var inputView = $(this);
            var inId = inputView.attr("id");
            if (inId != undefined && inId.indexOf("View") > 0) {
                var description = inputView.val();
                description = description.replace(/(\n)/g, "");
                description = description.replace(/(\t)/g, "");
                description = description.replace(/(\r)/g, "");
                description = description.replace(/<\/?[^>]*>/g, "");
                description = description.replace(/\s*/g, "");
                description = description.replace(/&nbsp;/ig, "");
                inputView.val(description);
            }
        });                                                     //去除HTML标签END

    }
        function openDataEdit(e) {
            inputId = $(e);
            if (inputId.val().length == 0) {
                $("#myModal").html(inputId.val());
                //$(".simditor-body").html("<p>&nbsp;</p>");           //有个bug，如果是空的弹出来输入法会有点问题，加一个判定
            }
            else {
                $("#myModal").html(inputId.val());
                //$(".simditor-body").html(inputId.val());
            }

            $('#click1').click();
            //$(".simditor-body").focus();
        }
        function openDataEditView(e) {

            var inputView = $(e);
            var trParent = inputView.parent();      //获取td栏 因为是同一个td里的
            $(trParent).children().each(function (j) {
                try {
                    var inputItem = $(this);     //这是每一个td里的input框
                    var name = inputItem.attr("id");

                    if (name != undefined) {
                        if (name.indexOf("View") < 0)         //找到content结点
                        {
                            $("#myModal").html(inputItem.val());
                            $('#click1').click();
                            return;
                        }

                    }
                } catch (e) {

                }

            })

        }
    </script>
</head>
<body>
    <div class="col-md-12" style="background-color: #fafffb;">

        <div id="reportData">
            <div class="layui-form-item">
                <input type="hidden" name="ProjectName" value="@ViewBag.ProjectName" />
                <h1 class="container-fluid" style="text-align:center;">运维工作周报</h1>

                <div class="layui-inline">
                    <label class="layui-label">项目名称：</label>
                    <div class="layui-input-inline">
                        <label class="layui-label">@ViewBag.ProjectName</label>

                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-label">汇报日期：</label>
                    <div class="layui-input-inline">
                        <label class="layui-label">第 @ViewBag.WeekCount 周</label>

                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-label">汇报人：</label>
                    <div class="layui-input-inline">
                        <label class="layui-label">@ViewBag.Author</label>

                    </div>
                </div>
                @*<div class="layui-inline">
                    <label class="layui-label">紧急度：</label>
                    <div class="layui-input-inline">

                        @{
                            string Level = "";
                            string el = ViewBag.EmergencyLevel;
                            switch (el)
                            {
                                default:
                                    break;
                                case "1":
                                    Level = "低";
                                    break;
                                case "2":
                                    Level = "中";
                                    break;
                                case "3":
                                    Level = "高";
                                    break;
                            }
                        }
                        <label class="layui-label">@Level</label>

                    </div>
                </div>*@
            </div>


            <hr />
        </div>
        <div id="FormData">
            <h4 class="container-fluid" style="text-align:center;">本周工作任务及执行情况</h4>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (item.ContentType == 1)
                    {
                        <div class="layui-form-item">

                            <div class="layui-inline">
                                <label class="layui-label">序号：&#12288;&#12288;</label>
                                <div class="layui-input-inline">
                                    @*<input class="layui-input" style="border:none;" type="text" value="@item.ContentNumber" readonly />*@
                                    <label class="layui-label">@item.ContentNumber</label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">工作项目：</label>
                                <div class="layui-input-inline">
                                    <label class="layui-label">@item.ProjectName</label>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-label">工作内容：</label>
                                <div class="layui-input-inline">
                                
                                    <input type="hidden" class="layui-input" name="Content" id="Content" value="@item.Content" onclick="openDataEdit(this);" />
                                    <input type="text" readonly class="layui-input" style="border:none;" name="ContentView" value="@item.Content" id="ContentView" onclick="openDataEditView(this);" />

                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">负责人：&#12288;</label>
                                <div class="layui-input-inline">
                                    <label class="layui-label">@item.LiablePerson</label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">开始日期：</label>
                                <div class="layui-input-inline">
                                    <label class="layui-label">@item.StartTime.Value.ToShortDateString()</label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">结束日期：</label>
                                <div class="layui-input-inline">
                                    <label class="layui-label">@item.EndTime.Value.ToShortDateString()</label>
                                </div>
                            </div>

                            @*<div class="layui-inline">
                                <label class="layui-label">完成情况：</label>
                                <div class="layui-input-inline">
                                    <input type="hidden" class="layui-input" name="CompleteStatus" id="CompleteStatus" value="@item.CompleteStatus" onclick="openDataEdit(this);" />
                                    <input type="text" readonly class="layui-input" style="border:none;" name="CompleteStatusView" value="@item.CompleteStatus" id="CompleteStatusView" onclick="openDataEditView(this);" />
                                </div>
                            </div>*@
                        </div>
                    }
                }
            }
            <hr />
            <h4 class="container-fluid" style="text-align:center;">下周工作计划</h4>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (item.ContentType == 2)
                    {
                        <div class="layui-form-item">

                            <div class="layui-inline">
                                <label class="layui-label">序号：&#12288;&#12288;</label>
                                <div class="layui-input-inline">
                                    @*<input class="layui-input" style="border:none;" type="text" value="@item.ContentNumber" readonly />*@
                                    <label class="layui-label">@item.ContentNumber</label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">工作项目：</label>
                                <div class="layui-input-inline">
                                    <label class="layui-label">@item.ProjectName</label>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-label">工作内容：</label>
                                <div class="layui-input-inline">

                                    <input type="hidden" class="layui-input" name="Content" id="Content" value="@item.Content" onclick="openDataEdit(this);" />
                                    <input type="text" readonly class="layui-input" style="border:none;" name="ContentView" value="@item.Content" id="ContentView" onclick="openDataEditView(this);" />

                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">负责人：&#12288;</label>
                                <div class="layui-input-inline">
                                    <label class="layui-label">@item.LiablePerson</label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">开始日期：</label>
                                <div class="layui-input-inline">
                                    <label class="layui-label">@item.StartTime.Value.ToShortDateString()</label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">结束日期：</label>
                                <div class="layui-input-inline">
                                    <label class="layui-label">@item.EndTime.Value.ToShortDateString()</label>
                                </div>
                            </div>

                            @*<div class="layui-inline">
                                <label class="layui-label">备注：&#12288;&#12288;</label>
                                <div class="layui-input-inline">
                                    <input type="hidden" class="layui-input" name="Remark" id="Remark" value="@item.Remark" onclick="openDataEdit(this);" />
                                    <input type="text" readonly class="layui-input" style="border:none;" name="RemarkView" value="@item.Remark" id="RemarkView" onclick="openDataEditView(this);" />
                                </div>
                            </div>*@
                        </div>
                    }
                }
            }
         
          
            @*@if (Model != null)
            {
                <hr />
                <h4 class="container-fluid" style="text-align:center;">发现问题、建议及解决计划</h4>
                foreach (var item in Model)
                {
                    if (item.ContentType == 3)
                    {
                        <div class="layui-form-item">

                            <div class="layui-inline">
                                <label class="layui-label">序号：&#12288;&#12288;</label>
                                <div class="layui-input-inline">
                               
                                    <label class="layui-label">@item.ContentNumber</label>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">问题：&#12288;&#12288;</label>
                                <div class="layui-input-inline">
                                    <input type="hidden" class="layui-input" name="Problem" id="Problem" value="@item.Problem" onclick="openDataEdit(this);" />
                                    <input type="text" readonly class="layui-input" style="border:none;" name="ProblemView" value="@item.Problem" id="ProblemView" onclick="openDataEditView(this);" />

                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">原因：&#12288;&#12288;</label>
                                <div class="layui-input-inline">
                                    <input type="hidden" class="layui-input" name="Result" id="Result" value="@item.Result" onclick="openDataEdit(this);" />
                                    <input type="text" readonly class="layui-input" style="border:none;" name="ResultView" value="@item.Result" id="ResultView" onclick="openDataEditView(this);" />

                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-label">解决方案：</label>
                                <div class="layui-input-inline">
                                    <input type="hidden" class="layui-input" name="Solution" id="Solution" value="@item.Solution" onclick="openDataEdit(this);" />
                                    <input type="text" readonly class="layui-input" style="border:none;" name="SolutionView" value="@item.Solution" id="SolutionView" onclick="openDataEditView(this);" />

                                </div>
                            </div>

                       
                        </div>
                    }
                }
            }*@
            @{
                if (ViewBag.isSelf == 1)
                {
                    <hr />
                    <h4 class="container-fluid" style="text-align:center;">审阅意见</h4>

                    <div class="layui-inline" style="width:100%;">
                        <label class="layui-label" style="width:20%;text-align:center">审阅人：</label>
                        <div class="layui-input-inline" style="width:80%;">
                          @ViewBag.LeaderName
                        </div>
                        </div>
                
                    <div class="layui-inline" style="width:100%;">
                      
                        

                        <label class="layui-label" style="width:20%;text-align:center">审阅意见：</label>
                        <div class="layui-input-inline" style="width:80%;">                      
                            <textarea class="layui-textarea"    readonly style="width:95%;"  >@ViewBag.LeaderOpinion</textarea>                       
                        </div>
                    </div>
                }
}
            



        </div>

     

        <a href="#" class="big-link" id="click1" data-reveal-id="myModal" hidden="hidden" data-animation="fade">jquery点我弹出</a>
        <!--<input type="text" id="text1" onclick="openDataEdit(this);" />
        <input type="text" id="text2" onclick="openDataEdit(this);" />-->

        <div id="myModal" class="reveal-modal">

            <textarea id="editor" placeholder="Balabala" autofocus></textarea>
            <button type="button" onclick="saveData();">保存数据</button>

            <a class="close-reveal-modal">&times;</a>
        </div>
    </div>
    @*<div class="col-md-2">
        @{
            <div align="center">
                <span class="h4">快捷操作</span>
            </div>
            if (ViewBag.isSelf == 1)
            {


                <div align="center">
                    <a class="layui-btn  layui-btn-normal" href="@Url.Action("ReportView", "WeeklyReports", new { lId = ViewBag.lId})"><i class="layui-icon">&#xe601;</i>周报导出</a>
                </div>
                <br />
                <div align="center">
                    @if (ViewBag.reportType == 2)
                    {
                        
                    }
                    else
                    {
                        <a class="layui-btn layui-btn-normal" href="@Url.Action("ReportEdit", "WeeklyReports", new { lId = ViewBag.lId })"><i class="layui-icon">&#xe642;</i>周报编辑</a>
                    }
                 
                </div>
                <br />
                <div align="center">
                    <a class="layui-btn  layui-btn-normal" href="@Url.Action("MyReports", "WeeklyReports")"><i class="layui-icon">&#xe60a;</i>周报列表</a>
                </div>
                <br />
                <div align="center">
                    <a class="layui-btn layui-btn-normal" href="@Url.Action("CreateReport", "WeeklyReports")"><i class="layui-icon">&#xe61f;</i>周报创建</a>
                </div>
            }
            if (ViewBag.isSelf == 2)
            {
                <div align="center">
                    <a class="layui-btn  layui-btn-normal" href="javascript:history.go(-1);"><i class="layui-icon">&#xe60a;</i>周报列表</a>
                </div>
            }
            if (ViewBag.isSelf == 3)
            {
                <div align="center">
                   暂无
                </div>
            }

}
    

      
    </div>*@

    
</body>
</html>
